h1, h4{
    text-align: center;
}

.sarga{
    color: yellow;
}

.kek{
    color: blue;
    letter-spacing: 5px;
}

nav{
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: blue;
}

li, ul{
    list-style-type: none;
    display: inline;
    padding: 35px;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
    text-decoration: none;
}

.arrebb{
    padding-left: 30px;
}